# Grouping and Sorting

In [2]:
import pandas as pd

In [3]:
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)

In [3]:
reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65494,France,Made from young vines from the Vaulorent porti...,Fourchaume Premier Cru,90,45.0,Burgundy,Chablis,NaN,Roger Voss,@vossroger,William Fèvre 2005 Fourchaume Premier Cru (Ch...,Chardonnay,William Fèvre
65495,Australia,"This is a big, fat, almost sweet-tasting Caber...",NaN,90,22.0,South Australia,McLaren Vale,NaN,Joe Czerwinski,@JoeCz,Tapestry 2005 Cabernet Sauvignon (McLaren Vale),Cabernet Sauvignon,Tapestry
65496,US,"Much improved over the unripe 2005, Fritz's 20...",Estate,90,20.0,California,Dry Creek Valley,Sonoma,NaN,NaN,Fritz 2006 Estate Sauvignon Blanc (Dry Creek V...,Sauvignon Blanc,Fritz
65497,US,This wine wears its 15.8% alcohol better than ...,Block 24,90,31.0,California,Napa Valley,Napa,NaN,NaN,Hendry 2004 Block 24 Primitivo (Napa Valley),Primitivo,Hendry
65498,Spain,"A unique take on Manzanilla Sherry, which is o...",Manzanilla,90,10.0,Andalucia,Jerez,NaN,Michael Schachner,@wineschach,Bodegas Dios Baco S.L. NV Manzanilla Sherry (J...,Sherry,Bodegas Dios Baco S.L.

# groupby() criou um grupo de avaliações que atribuía os mesmos valores de pontos aos vinhos fornecidos.

In [4]:
# Usando o metodo .count()
reviews.groupby('points').points.count()

points
80      155
81      305
82      923
83     1442
84     3490
85     5082
86     6179
87     8872
88     8423
89     5724
90     7697
91     6016
92     4917
93     3268
94     1905
95      678
96      262
97       99
98       39
99       15
100       8
Name: points, dtype: int64

In [5]:
# Usando o metodo min()
reviews.groupby('points').price.min()

points
80       5.0
81       5.0
82       5.0
83       4.0
84       4.0
85       4.0
86       4.0
87       5.0
88       6.0
89       7.0
90       8.0
91       7.0
92      11.0
93      13.0
94      13.0
95      20.0
96      27.0
97      40.0
98      50.0
99      75.0
100    150.0
Name: price, dtype: float64

In [6]:
# Usando o metodo apply()
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                                     1+1=3 NV Rosé Sparkling (Cava)
10 Knots                            10 Knots 2010 Viognier (Paso Robles)
100 Percent Wine              100 Percent Wine 2015 Moscato (California)
1000 Stories           1000 Stories 2013 Bourbon Barrel Aged Zinfande...
1070 Green                  1070 Green 2011 Sauvignon Blanc (Rutherford)
                                             ...
Órale                       Órale 2011 Cabronita Red (Santa Ynez Valley)
Öko                    Öko 2013 Made With Organically Grown Grapes Ma...
Ökonomierat Rebholz    Ökonomierat Rebholz 2007 Von Rotliegenden Spät...
àMaurice               àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                                    Štoka 2009 Izbrani Teran (Kras)
Length: 13549, dtype: object

In [7]:
# Chamando duas colunas
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
Armenia   Armenia             Armenia
Australia Australia Other   Australia
          New South Wales   Australia
...                               ...
Uruguay   Juanico             Uruguay
          Montevideo          Uruguay
          Progreso            Uruguay
          San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If you love massive Argentine reds with purity...
          Other             This single-vineyard Malbec blend from vineyar...
Armenia   Armenia           Medium straw in the glass, this wine has a nos...
Australia Australia Other   Writes the book on how to make a wine filled w...
          New South Wales   This is full and rich but not overly heavy or ...
...                                                                       ...
Uruguay   Juanico           This mature Bordeaux-style blend is earthy on ...
          Montevideo        A rich, heady bouquet offers aromas of blackbe...
          Progreso          RPF is regularly one of Uruguay's better Tanna...
          San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                                                  designation  \
country   province
Argentina Mendoza Province  Finca Pedregal Single Vineyard Barrancas Maipú...
          Other                                                  Chañar Punco
Armenia   Armenia                                              Estate Bottled
Australia Australia Other                                       Sarah's Blend
          New South Wales                                            Botrytis
...                                                                       ...
Uruguay   Juanico                            Preludio Barrel Select Lote N 77
          Montevideo                  Monte Vide Eu Tannat-Merlot-Tempranillo
          Progreso                                                        RPF
          San Jose                                   El Preciado Gran Reserva
          Uruguay                                   Blend 002 Limited Edition

                            points  price          province  \
country   province
Argentina Mendoza Province      95   74.0  Mendoza Province
          Other                 94   68.0             Other
Armenia   Armenia               87   14.0           Armenia
Australia Australia Other       93   15.0   Australia Other
          New South Wales       91   19.0   New South Wales
...                            ...    ...               ...
Uruguay   Juanico               90   45.0           Juanico
          Montevideo            91   60.0        Montevideo
          Progreso              88   20.0          Progreso
          San Jose              87   50.0          San Jose
          Uruguay               91   22.0           Uruguay

                                           region_1 region_2  \
country   province
Argentina Mendoza Province                  Mendoza      NaN
          Other                    Calchaquí Valley      NaN
Armenia   Armenia                               NaN      NaN
Australia Australia Other   South Eastern Australia      NaN
          New South Wales                  Riverina      NaN
...                                             ...      ...
Uruguay   Juanico                               NaN      NaN
          Montevideo                            NaN      NaN
          Progreso                              NaN      NaN
          San Jose                              NaN      NaN
          Uruguay                               NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
Armenia   Armenia               Mike DeSimone        @worldwineguys
Australia Australia Other                 NaN                   NaN
          New South Wales      Joe Czerwinski                @JoeCz
...                                       ...                   ...
Uruguay   Juanico           Michael Schachner           @wineschach
          Montevideo        Michael Schachner           @wineschach
          Progreso          Michael Schachner           @wineschach
          San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Pascual Toso 2014 Finca Pedregal Single Vineya...
          Other             El Esteco 2013 Chañar Punco Red (Calchaquí Val...
Armenia   Armenia              Van Ardi 2015 Estate Bottled Kangoun (Armenia)
Australia Australia Other   Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales     Three Bridges 2013 Botrytis Semillon (Riverina)
...                                                                       ...
Uruguay   Juanico           Familia Deicas 2004 Preludio Barrel Select Lot...
          Montevideo        Bouza 2015 Monte Vide Eu Tannat-Merlot-Tempran...
          Progreso                          Pisano 2013 RPF Tannat (Progreso)
          San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                              variety           winery
country   province
Argentina Mendoza Province  Cabernet Sauvignon-Malbec     Pascual Toso
          Other                             Red Blend        El Esteco
Armenia   Armenia                             Kangoun         Van Ardi
Australia Australia Other                   Red Blend  Marquis Philips
          New South Wales                    Sémillon    Three Bridges
...                                               ...              ...
Uruguay   Juanico                           Red Blend   Familia Deicas
          Montevideo                        Red Blend            Bouza
          Progreso                             Tannat           Pisano
          San Jose                          Red Blend   Castillo Viejo
          Uruguay               Tannat-Cabernet Franc          Narbona

[385 rows x 13 columns]

In [4]:
# gerar um resumo estatístico simples do conjunto de dados com o metodo agg()
reviews.groupby(['country']).price.agg([len, min, max])

                          len   min     max
country
Argentina                1907   4.0   230.0
Armenia                     1  14.0    14.0
Australia                1177   6.0   850.0
Austria                  1635   7.0   150.0
Bosnia and Herzegovina      1  13.0    13.0
Brazil                     31  10.0    45.0
Bulgaria                   68   8.0    55.0
Canada                    108  12.0   120.0
Chile                    2258   5.0   400.0
Croatia                    44  13.0    65.0
Cyprus                      6  11.0    21.0
Czech Republic              6  15.0    45.0
England                    36  25.0    80.0
France                  11174   5.0  2500.0
Georgia                    37   9.0    40.0
Germany                  1051   5.0   775.0
Greece                    242   8.0    79.0
Hungary                    61  10.0   764.0
India                       4  10.0    20.0
Israel                    259   8.0   100.0
Italy                   10005   5.0   595.0
Lebanon                    20  13.0    75.0
Luxembourg                  4  16.0    30.0
Macedonia                   6  15.0    20.0
Mexico                     31   8.0    58.0
Moldova                    30   8.0    42.0
Morocco                    11  14.0    40.0
New Zealand               733   8.0   120.0
Peru                        8  10.0    68.0
Portugal                 2963   5.0  1000.0
Romania                    67   7.0   100.0
Serbia                      7  15.0    40.0
Slovakia                    1  16.0    16.0
Slovenia                   39   7.0    60.0
South Africa              737   8.0   330.0
Spain                    3409   4.0   770.0
Switzerland                 4  30.0   160.0
Turkey                     43  15.0   120.0
US                      27177   4.0   750.0
Ukraine                     5   6.0    10.0
Uruguay                    61  10.0   120.0

## Multi-indexes

In [5]:
# metodos multiplos indices
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  1635
          Other              272
Armenia   Armenia              1
Australia Australia Other    131
          New South Wales     34
...                          ...
Uruguay   Juanico              8
          Montevideo          10
          Progreso             5
          San Jose             3
          Uruguay              7

[385 rows x 1 columns]

In [6]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [7]:
# metodo multi-indices => reset_index():
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  1635
1    Argentina             Other   272
2      Armenia           Armenia     1
3    Australia   Australia Other   131
4    Australia   New South Wales    34
..         ...               ...   ...
380    Uruguay           Juanico     8
381    Uruguay        Montevideo    10
382    Uruguay          Progreso     5
383    Uruguay          San Jose     3
384    Uruguay           Uruguay     7

[385 rows x 3 columns]

## Sorting

In [8]:
# obtendo os dados na ordem desejada com o metodo sort_values() 
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

      country           province    len
93    Croatia  Hrvatsko Primorje      1
291  Slovenia               Kras      1
140    Greece     Central Greece      1
293  Slovenia           Slovenia      1
145    Greece           Cyclades      1
..        ...                ...    ...
369        US             Oregon   2691
204     Italy            Tuscany   2985
110    France           Bordeaux   3014
375        US         Washington   4308
353        US         California  18122

[385 rows x 3 columns]

In [9]:
countries_reviewed.sort_values(by='len', ascending=False)

          country     province    len
353            US   California  18122
375            US   Washington   4308
110        France     Bordeaux   3014
204         Italy      Tuscany   2985
369            US       Oregon   2691
..            ...          ...    ...
289      Slovenia    Dolenjska      1
291      Slovenia         Kras      1
293      Slovenia     Slovenia      1
329  South Africa  Vlootenburg      1
139        Greece       Beotia      1

[385 rows x 3 columns]

In [10]:
# classificando por valores de índice, use o método complementar sort_index()
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  1635
1    Argentina             Other   272
2      Armenia           Armenia     1
3    Australia   Australia Other   131
4    Australia   New South Wales    34
..         ...               ...   ...
380    Uruguay           Juanico     8
381    Uruguay        Montevideo    10
382    Uruguay          Progreso     5
383    Uruguay          San Jose     3
384    Uruguay           Uruguay     7

[385 rows x 3 columns]

In [11]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   272
0    Argentina  Mendoza Province  1635
2      Armenia           Armenia     1
6    Australia          Tasmania    23
4    Australia   New South Wales    34
..         ...               ...   ...
382    Uruguay          Progreso     5
384    Uruguay           Uruguay     7
380    Uruguay           Juanico     8
381    Uruguay        Montevideo    10
379    Uruguay         Canelones    24

[385 rows x 3 columns]

## Exercise: Grouping and Sorting

In [2]:
import pandas as pd
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
print("Setup complete")

Setup complete

### 1

In [5]:
# Crie uma série cujo índice seja a categoria taster_twitter_handle do conjunto de dados e 
# cujos valores contem quantas avaliações cada pessoa escreveu

reviews_written = reviews.groupby('taster_twitter_handle').size()
reviews_written

taster_twitter_handle
@AnneInVino          1769
@JoeCz               2605
@bkfiona               11
@gordone_cellars     2032
@kerinokeefe         5313
@laurbuzz             938
@mattkettmann        3035
@paulgwine           4851
@suskostrzewa         593
@vboone              4696
@vossroger          13045
@wawinereport        2358
@wineschach          7752
@winewchristina         4
@worldwineguys        465
dtype: int64

In [6]:
# OU 
reviews_written = reviews.groupby('taster_twitter_handle').taster_twitter_handle.count()
reviews_written

taster_twitter_handle
@AnneInVino          1769
@JoeCz               2605
@bkfiona               11
@gordone_cellars     2032
@kerinokeefe         5313
@laurbuzz             938
@mattkettmann        3035
@paulgwine           4851
@suskostrzewa         593
@vboone              4696
@vossroger          13045
@wawinereport        2358
@wineschach          7752
@winewchristina         4
@worldwineguys        465
Name: taster_twitter_handle, dtype: int64

### 2

### 3

In [7]:
# Crie uma Série cujo índice seja os preços dos vinhos e cujos valores sejam o número máximo de pontos que um 
# vinho de preço tão alto foi dado em uma resenha. 
# Classifique os valores por preço, em ordem crescente (de modo que 4,0 dólares fique no topo 
# e 3300,0 dólares na parte inferior).
best_rating_per_price = reviews.groupby('price')['points'].max().sort_index()
best_rating_per_price

price
4.0       86
5.0       87
6.0       88
7.0       91
8.0       91
          ..
1200.0    96
1300.0    96
1900.0    98
2000.0    97
2500.0    96
Name: points, Length: 312, dtype: int64

In [8]:
# Crie um DataFrame cujo índice seja a categoria de variedade do conjunto de dados e 
# cujos valores sejam os valores mínimo e máximo do mesmo.
price_extremes = reviews.groupby('variety').price.agg([min, max])
price_extremes

              min    max
variety
Abouriou     75.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0    9.0
...           ...    ...
Zinfandel     5.0  100.0
Zlahtina     13.0   13.0
Zweigelt      9.0   65.0
Çalkarası    19.0   19.0
Žilavka      15.0   15.0

[590 rows x 2 columns]

###  4

In [10]:
# Crie uma variável sorted_varieties contendo uma cópia do dataframe da pergunta anterior
# onde as variedades são classificadas em ordem decrescente com base no preço mínimo
# e depois no preço máximo (para desempate).
sorted_varieties = price_extremes.sort_values(by=['min', 'max'], ascending=False)
sorted_varieties

                      min    max
variety
Terrantez           236.0  236.0
Bual                194.0  230.0
Cabernet-Shiraz     150.0  150.0
Rosenmuskateller    150.0  150.0
Malbec-Cabernet     130.0  165.0
...                   ...    ...
Madeira Blend         NaN    NaN
Petit Meslier         NaN    NaN
Sämling               NaN    NaN
Tempranillo-Malbec    NaN    NaN
Zelen                 NaN    NaN

[590 rows x 2 columns]

### 5

In [11]:
# Crie uma Série cujo índice seja de revisores e cujos valores sejam a pontuação média de revisão dada por esse revisor. 
reviewer_mean_ratings = reviews.groupby('taster_name').points.mean()
reviewer_mean_ratings

taster_name
Alexander Peartree    86.014286
Anna Lee C. Iijima    88.380506
Anne Krebiehl MW      90.587903
Carrie Dykes          86.644444
Christina Pickard     89.500000
Fiona Adams           87.090909
Jeff Jenssen          88.273504
Jim Gordon            88.604331
Joe Czerwinski        88.519770
Kerin O’Keefe         88.827969
Lauren Buzzeo         87.831557
Matt Kettmann         90.021087
Michael Schachner     86.904541
Mike DeSimone         89.030303
Paul Gregutt          89.095032
Roger Voss            88.678957
Sean P. Sullivan      88.666243
Susan Kostrzewa       86.408094
Virginie Boone        89.229557
Name: points, dtype: float64

In [12]:
# usar o método describe() para ver um resumo do intervalo de valores.
reviewer_mean_ratings.describe()

count    19.000000
mean     88.332052
std       1.236584
min      86.014286
25%      87.461233
50%      88.604331
75%      89.062667
max      90.587903
Name: points, dtype: float64

### 6

In [13]:
# Crie uma Série cujo índice seja um MultiIndex de pares {país, variedade}. 
# Por exemplo, um pinot noir produzido nos EUA deve mapear para {"US", "Pinot Noir"}. 
# Classifique os valores na Série em ordem decrescente com base na contagem de vinhos.
country_variety_counts = reviews.groupby(['country', 'variety']).size().sort_values(ascending=False)
country_variety_counts

country  variety
US       Pinot Noir                  4918
         Cabernet Sauvignon          3649
         Chardonnay                  3412
France   Bordeaux-style Red Blend    2380
Italy    Red Blend                   1870
                                     ...
         Torbato                        1
         Vespaiolo                      1
         Vespolina                      1
         Vitovska                       1
Uruguay  Tempranillo-Tannat             1
Length: 1304, dtype: int64